@import "variables";

* {
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
}

h1, .h1 {
  font-size: 30px;
}

h2, .h2 {
  font-size: 25px;
}

h3, .h3 {
  font-size: 20px;
}

h4, .h4 {
  font-size: 18px;
}

label {
  font-size: 16px;
  display: block;
  color: var(--color-primary);
}

p, li, blockquote {
  font-size: 16px;
  line-height: 1.75;
}

#main {
  margin-top: 5rem;
  min-height: 90vh;
}

.hint {
  display: inline-block;
  font-style: italic;
  padding: 10px 0px;
  color: #666;
}

.pad {
  padding: 1rem;
}

.pad-section {
  padding: 1rem;
}

.container-sm {
  max-width: 20rem;
}

.container-md {
  max-width: 30rem;
}

.container-lg {
  max-width: 40rem;
}

.text-italic {
  font-style: italic;
}

.text-strong {
  font-weight: bold;
}

.bg-green,
.bg-success {
  background-color: var(--color-success)!important;
  color: white;
}

.bg-red,
.bg-danger {
  background-color: var(--color-danger)!important;
  color: white;
}

.text-success,
.text-green {
  color: var(--color-success)!important;
}

.text-danger,
.text-red {
  color: var(--color-danger)!important;
}

.text-warning {
  color: var(--color-warning)!important;
}

.img-xs {
  max-width: 5rem;
}

.img-sm {
  max-width: 5rem;
}

.img-md {
  max-width: 10rem;
}

.img-lg {
  max-width: 15rem;
}

.w-xs {
  width: 50px;
}

.w-sm {
  width: 100px;
}

.w-md {
  width: 250px;
}

.w-lg {
  width: 500px;
}

.w-full {
  width: 100%;
}

.circle {
  border-radius: 500px;
  overflow: hidden;
}

.card {
  margin-bottom: 2rem;
}

.card-image-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  padding: 10px;
  .card-header {
    border-bottom: 0px;
    padding-bottom: 0px;
  }
}

a:not(.btn) {
  cursor: pointer;
  color: var(--color-primary);
  text-decoration: none;
}

.btn.btn-primary,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: white;
  &:hover,
  &:active,
  &:focus {
    background-color: var(--color-primary-dark);
    border-color: var(--color-primary-dark);
  }
}

.navdrawer-nav,
.dropdown-menu {
  margin: 0px;
  padding: 0px;
}

.breadcrumb {
  background-color: white;
  border-bottom: 1px solid #eee;
  margin-bottom: 0px;
}

.background-image {
  background-size: cover;
  background-position: center center;
}

.border,
.card {
  border-radius: 5px;
  overflow: hidden;
}

.activity-feed {
  .img-wrapper {
    margin-right: 1rem;
  }

  .media {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;
  }
}

.fixed-top {
  z-index: 41;
}

.sticky-top {
  top: 80px;
}

.error,
.error_notification{
  background-color: red;
  padding: 10px;
  display: block;
  color: white;
  border-radius: 3px;
}

table.table {
  background-color: transparent;
}

.table tbody td,
.table tbody th {
  vertical-align: middle;
}

.pagination a,
.pagination span.current,
.pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none;
  border: 1px solid #DDD;
  border-left-width: 0;
}

.pagination {
  .first,
  .prev,
  .page,
  .next,
  .last {
    padding : 0;
    float: none;
    border: none;
  }
  .page:first-child,
  .first {
    border-left: 1px solid #ddd;
  }
}

.col-sm-fifth {
  flex: 0 0 100%;
  max-width: 100%;
}

.col-sm-fifth {
  min-height: 1px;
  padding-right: 20px;
  padding-left: 20px;
  position: relative;
  width: 100%;
}

/* For tablets: */
@media only screen and (min-width: 600px) {
  .col-sm-fifth {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

/* For desktop: */
@media only screen and (min-width: 768px) {

}
