@import "variables";

* {
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
}

h1, .h1 {
  font-size: 30px;
  font-weight: 500;
}

h2, .h2 {
  font-size: 25px;
  font-weight: 500;
}

h3, .h3 {
  font-size: 20px;
  font-weight: 500;
}

h4, .h4 {
  font-size: 18px;
  font-weight: 500;
}

label {
  font-size: 16px;
  display: inline-block;
  font-weight: bold;
  color: #333;
}

p, li, blockquote {
  font-size: 16px;
  line-height: 1.75;
}

blockquote {
  border-color: var(--color-primary)!important;
}

a:not(.btn):not(.dropdown-item),
.btn-link,
.btn-outline-link {
  color: var(--color-primary)!important;
}

#main {
  margin-top: 5rem;
  min-height: 90vh;
}

.hint {
  display: inline-block;
  font-style: italic;
  padding: 10px 0px;
  color: #666;
}

.alert-banner {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 99;
}

.display-none {
  display: none;
}

.pad {
  padding: 1rem;
}

.pad-sm {
  padding: 0.5rem;
}

.pad-md {
  padding: 1.5rem;
}

.pad-lg {
  padding: 2rem;
}

.pad-xl {
  padding: 3rem;
}

.pad-section {
  padding: 2rem 0;
}

.pad-section-xl {
  padding: 4rem 0;
}

.container-sm {
  max-width: 20rem;
}

.container-md {
  max-width: 30rem;
}

.container-lg {
  max-width: 40rem;
}

.text-underline {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding-bottom: 15px;
  &::after {
    content: ' ';
    display: block;
    position: relative;
    top: 16px;
    height: 2px;
    width: 25%;
    background-color: var(--color-primary);
  }
}

.text-italic {
  font-style: italic;
}

.text-strong {
  font-weight: bold;
}

.text-primary,
.btn-outline-primary {
  color: var(--color-primary)!important;
}

.text-secondary,
.btn-outline-secondary {
  color: var(--color-secondary)!important;
}

.text-success,
.text-green {
  color: var(--color-success)!important;
}

.text-danger,
.text-red {
  color: var(--color-danger)!important;
}

.text-warning {
  color: var(--color-warning)!important;
}

.bg-green,
.bg-success {
  background-color: var(--color-success)!important;
  color: white;
}

.bg-red,
.bg-danger,
.btn-danger {
  background-color: var(--color-danger)!important;
  color: white;
}

.bg-dark {
  color: white;
}

.alert-primary {
  background-color: var(--color-primary-light)!important;
}

.alert-secondary {
  background-color: var(--color-secondary-light)!important;
}

.alert-danger {
  background-color: var(--color-danger-light)!important;
}

.alert-info {
  background-color: var(--color-info-light)!important;
}

.alert-success {
  background-color: var(--color-success-light)!important;
}

.alert-warning {
  background-color: var(--color-warning-light)!important;
}

.img-xs {
  max-width: 5rem;
}

.img-sm {
  max-width: 5rem;
}

.img-md {
  max-width: 10rem;
}

.img-lg {
  max-width: 15rem;
}

.w-xs {
  width: 50px;
}

.w-sm {
  width: 100px;
}

.w-md {
  width: 250px;
}

.w-lg {
  width: 500px;
}

.w-full {
  width: 100%;
}

.circle {
  border-radius: 500px;
  overflow: hidden;
}

.line-clamp-1,
.line-clamp-2,
.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.line-clamp-1 {
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  -webkit-line-clamp: 3;
}

.card {
  margin-bottom: 2rem;
  box-shadow: none;
  border: 1px solid #ccc;
  .card-header h1 {
    margin-bottom: 0px;
  }
}

.card-image-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  padding: 10px;
  .card-header {
    border-bottom: 0px;
    padding-bottom: 0px;
  }
}

.btn {
  text-transform: uppercase;
  font-size: 14px;
  padding: 14px 16px;
  /*letter-spacing: .05em;*/
  font-weight: 600;
  border-radius: var(--border-radius);
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14),
              0 0px 1px 0 rgba(0, 0, 0, 0.12),
              1px 1px 4px 0 rgba(0, 0, 0, 0.2);
}

.btn-oauth {
  box-shadow: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.alt-login-separator {
  position: relative;
  margin-bottom: 2rem;
  &:after,
  &:before {
    content: "";
    background: #dcdcdc;
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 31%;
  }
  &:after {
    right: 0;
  }
}

.btn.btn-sm,
.btn-sm,
table.table td .btn {
  font-size: 12px;
  padding: 10px 10px;
  min-width: auto;
}

.btn.btn-lg,
.btn-lg {
  font-size: 18px;
  padding: 18px 28px;
}

.btn.btn-primary,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: white;
  &:hover,
  &:active,
  &:focus {
    background-color: var(--color-primary-dark);
    border-color: var(--color-primary-dark);
  }
}

.nav-tabs .nav-link::before {
  background-color: var(--color-primary)
}

.btn.btn-secondary {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: white;
  &:hover,
  &:active,
  &:focus {
    background-color: var(--color-secondary-dark);
    border-color: var(--color-secondary-dark);
  }
}

.btn-outline-link {
  text-transform: inherit;
}

.btn-navbar {
  margin-left: 1rem;
  padding: 11px 18px;
}

.navdrawer-nav,
.dropdown-menu {
  margin: 0px;
  padding: 0px;
}

.breadcrumb {
  background-color: white;
  border-bottom: 1px solid #eee;
  margin-bottom: 0px;
}

.background-image {
  background-size: cover;
  background-position: center center;
}

.center-v {
  display: flex;
  align-items: center;
}

.border,
.card {
  border-radius: 5px;
}

.border {
  overflow: hidden;
}

.activity-feed {
  .img-wrapper {
    margin-right: 1rem;
  }

  .media {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;
  }
}

.fixed-top {
  z-index: 41;
}

.sticky-top {
  top: 80px;
}

.error,
.error_notification {
  background-color: var(--color-danger);
  padding: 10px;
  display: block;
  color: white;
  border-radius: 3px;
}

.error_notification {
  margin-bottom: 1rem;
}

table.table {
  background-color: transparent;
}

.checkbox {
  label {
    text-transform: inherit;
  }
  .check_boxes,
  .boolean {
    margin-right: 10px;
  }
}

.table tbody td,
.table tbody th {
  vertical-align: middle;
}

.pagination a,
.pagination span.current,
.pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none;
  border: 1px solid #DDD;
  // border-left-width: 0;
}

.pagination {
  .first,
  .prev,
  .page,
  .next,
  .last {
    padding : 0;
    float: none;
    border: none;
  }
  .page:first-child,
  .first {
    border-left: 1px solid #ddd;
  }
}

.col-sm-fifth {
  flex: 0 0 100%;
  max-width: 100%;
}

.col-sm-fifth {
  min-height: 1px;
  padding-right: 20px;
  padding-left: 20px;
  position: relative;
  width: 100%;
}

.minicolors-theme-default .minicolors-input {
  height: 27px;
  width: 100%;
  display: block;
  padding: 13px 40px;
}

.minicolors-theme-default.minicolors {
  width: 100%;
}

/* For tablets: */
@media only screen and (min-width: 600px) {
  .col-sm-fifth {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

/* For desktop: */
@media only screen and (min-width: 768px) {

}
