:root {
  --color-primary:         #4caf50;
  --color-primary-dark:    #66BB6A;
  --color-primary-light:   #66BB6A;
  --color-primary-muted:   #e8f5e9;
  --color-secondary:       #4caf50;
  --color-secondary-dark:  #66BB6A;
  --color-secondary-light: #66BB6A;
  --color-secondary-muted: #e8f5e9;
  --color-danger:          #ff0000;
  --color-warning:         #ffbf2f;
  --color-success:         #44be7d;
  --color-info:            #44be7d;
  --color-disabled:        #44be7d;
}
